.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.profile__info {
    display: grid;
    grid-template-areas: 
        "title button"
        "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    align-items: center;
    grid-gap: 8px 18px;
}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 373px;
}

.profile__edit-button {
    background: transparent url(../images/edit-icon.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    border: solid 1px #FFF;
}

.profile__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
    transition: ease-in 0.25s;
}

.profile__add-button {
    background: transparent url(../images/add-button.svg) center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    border: solid 2px #FFF;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 60%;
    cursor: pointer;
    transition: ease-in 0.25s;
}

.profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    grid-area: description;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 373px;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
    }

    .profile__image {
        margin: 0;
    }

    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 282px;
        margin-top: 27px;
        margin-bottom: 36px;
    }

    .profile__description {
       max-width: 80%;
       display: flex;
       justify-content: space-around;
       font-size: 14px;
       line-height: 16.94px; 
    }

    .profile__title {
        font-size: 22px;
        line-height: 26.63px;
        max-width: 196px;
    }

    .profile__edit-button {
        height: 18px;
        width: 18px;
        background-size: 7.5px 7.5px;
    }

    .profile__add-button {
      margin: 0;
      width: 90%;
      background-size: 16px 16px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1080px) {
    .profile {
        max-width: 95%;
    }
}