.profile {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 880px;
    padding-top: 40px;
  }
  
  .profile__avatar-container {
    position: relative;
  }
  
  .profile__avatar-container:hover {
    opacity: 60%;
  }
  
  .profile__image {
    margin-right: 24px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: cover;
  }
  
  .avatar__edit-button {
    position: absolute;
    top: 47px;
    left: 47px;
    background: transparent url(../images/pencil.svg) center no-repeat;
    width: 26px;
    height: 26px;
    background-size: contain;
    border: none;
    transition: 0.3s ease-in;
    opacity: 0;
  }
  
  .avatar__edit-button:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .profile__info {
    display: grid;
    align-items: center;
    grid-template-areas: "title button" "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap: 9px 17px;
  }
  
  .profile__title {
    margin: 0;
    font-size: 42px;
    line-height: 1.1;
    font-weight: 500;
    grid-area: title;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 375px;
  }
  
  .profile__edit-button {
    background: transparent url(../images/edit-icon.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    cursor: pointer;
    border: #ffffff solid 1px;
  }
  
  .profile__edit-button:hover {
    opacity: 60%;
  }
  
  .profile__description {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    grid-area: description;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 375px;
  }
  
  .profile__add-button {
    margin-left: auto;
    background: transparent url(../images/add-button.svg) center no-repeat;
    width: 150px;
    height: 50px;
    border: #ffffff solid 2px;
    cursor: pointer;
    grid-area: button;
    border-radius: 2px;
  }
  
  .profile__add-button:hover {
    opacity: 60%;
  }
  
  @media screen and (max-width: 480px) {
    .profile {
      flex-direction: column;
      justify-content: center;
    }
  
    .profile__image {
      margin: 0 auto;
    }
  
    .profile__info {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      width: 100%;
    }
  
    .profile__title {
      margin-top: 26px;
      font-size: 22px;
      line-height: 1.2;
      max-width: 196px;
    }
  
    .profile__description {
      width: 100%;
      text-align: center;
      font-size: 14px;
      margin-bottom: 36px;
    }
  
    .profile__edit-button {
      width: 18px;
      height: 18px;
    }
  
    .profile__add-button {
      margin: 0;
      border: none;
      width: 100%;
    }
  }